@charset "utf-8";

html {}

body {}

/* ↓login.blade ヘッダー 上↓*/
header {
    background: #186AC9;
    height: 80px;
    width: 1440px;
    position: relative;
    flex-wrap: nowrap;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 23.5px;
    left: 20px;
}

/* headerのアコーディオンメニュー↓ */
.accordion-container {
    text-align: center;
    position: absolute;
    right: 0px;
    width: 100%;
    border-top: none;
    outline: 0;
    cursor: pointer;

}

/*アコーディオンメニュー、ユーザー名*/
.accordion-container .accordion-title {
    display: inline-block;
    position: relative;
    font-size: 1.2rem;
    font-weight: normal;
    color: #fff
        /*background: #000;*/
        cursor: pointer;

}

.accordion-container .accordion-title:hover,
.accordion-container .accordion-title:active,
.accordion-container .content-entry.open .accordion-title {
    background-color: #00aaa7;
    color: white;
}

.accordion-container .accordion-title:hover i:before,
.accordion-container .accordion-title:hover i:active,
.accordion-container .content-entry.open i {
    color: white;
}

/*ユーザー名 〜〜さん*/
.accordion-title {
    position: relative;
    right: 100px;
    color: #fff;
    font-size: 1.5em;
}

/*三角*/
.accordion-title:after {
    content: "";
    position: relative;
    right: -50px;
    top: 38%;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    width: 8px;
    height: 8px;
    border-top: solid 2px #fff;
    border-right: solid 2px #fff;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

.accordion-title.open:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 45%;
}

.accordion-content {
    display: block;
    padding-left: 20em;
    padding-left: 2.3125em;
}

/* CSS for CodePen */
.accordion-container {
    width: 300px;
    margin: 1.875em auto;
}

/* headerのアコーディオンメニュー↑ */

/*サイドバーのメニュー*/
/*フォロー、フォロワーボタン*/
.btn {
    display: block;
    position: relative;
    padding: 0.625em 0.625em 0.625em 2em;
    font-size: 1.0em;
    font-weight: normal;
    color: #fff;
    background: #0079c1;
    cursor: pointer;
}

/* ↑login.blade ヘッダー 上↑*/


/*↓login.blade 左のメインメニュー↓*/
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
}

#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}

/* 編集 モーダル */
.content {
    margin: 0 auto;
    padding: 40px;
}

.modal {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}

.modal__bg {
    background: rgba(0, 0, 0, 0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}

.modal__content {
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
}

/*↑login.blade 左のメインメニュー↑*/


/*↓index.blade 全体↓*/
.container {}

button {
    padding: 0;
    border: none;
    background: transparent;
}

button img {
    display: block;
}

/*↑index.blade 全体↑*/

/*↓index.blade 投稿フォーム↓*/
.form-group {
    border-bottom: 5px solid #e0e0e0;
}

.form-control {
    border: none;
    width: 1140px;
    height: 100px;
}

/*↑index.blade 投稿フォーム↑*/

/*↓index.blade 投稿表示↓*/
.view-container {
    border-bottom: 1px solid black;
}

.content {
    display: flex;
}

button {
    display: block;
    padding: 0;
    border: none;
    background: transparent;
}

button img {
    display: block;
}

/*↑index.blade 投稿表示↑*/
